# Environment
.env
.env.local
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo

# System
.DS_Store
Thumbs.db

# Python
.venv
.venv/
venv/
env/t
__pycache__/
*.pyc
*.pyo

# Project
sources/

#Alembic
alembic.ini