version: '3.9'

services:
  postgres:
    image: postgres:18
    container_name: postgres_db
    restart: always
    ports:
      - '127.0.0.1:7890:5432'
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      TZ: Asia/Yekaterinburg
    volumes:
      - postgres18_data:/var/lib/postgresql/18/docker
    deploy:
      resources:
        limits:
          memory: 512M

  fastapi_app:
    build: .
    container_name: fastapi_app
    restart: always
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
    volumes:
      - ./storage:/app/storage
    deploy:
      resources:
        limits:
          memory: 1G

volumes:
  postgres18_data:
